<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>HelloBooks | History</title>

        <!-- Bootstrap -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom css -->
        <link href="assets/css/style.css" rel="stylesheet">
        <!-- Font-Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <!-- live reload -->
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Hello Books</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="profile.html"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
                        </li>
                        <li><a href="library.html"><i class="fa fa-book" aria-hidden="true"></i> Library</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Welcome, John!</a></li>
                        <li id="logout"><form action="index.html">
                            <button class="btn btn-default btn-sm"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Logout</button>
                        </form></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1><i class="fa fa-book" aria-hidden="true"></i> Hello Books <small>History</small></h1>
                    </div>

                </div>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-3" id="navigation">
                        <div class="list-group">
                            <button class="list-group-item main-color-bg"><i class="fa fa-bars" aria-hidden="true"></i> Navigation</button>
                            <a href="profile.html" class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i> My Profile</a>
                            <a href="history.html" class="list-group-item"><i class="fa fa-history" aria-hidden="true"></i> Borrow History</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-default">
                            <div class="panel-heading main-color-bg">
                                <h3 class="panel-title">Borrow History</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover" id="history">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Borrow Date</th>
                                            <th>Returned</th>
                                            <th>Return Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Shadow and Dog</td>
                                            <td>Dec 12, 2016</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td>Dec 16, 2016</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Javascript Ninja</td>
                                            <td>Dec 12, 2016</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td>Dec 17, 2016</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>NodeJS Front to Back</td>
                                            <td>Dec 12, 2016</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td>Dec 15, 2016</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Working with Express Framework</td>
                                            <td>Dec 12, 2016</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td>Dec 15, 2016</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>ReactJS for Beginner</td>
                                            <td>Dec 12, 2016</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td>Dec 17, 2016</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>NodeJS Beginner to Ninja</td>
                                            <td>Dec 12, 2016</td>
                                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                            <td>Pending</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Say Hi to NodeJS</td>
                                            <td>Dec 12, 2016</td>
                                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                            <td>Pending</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>JQuery for Beginner</td>
                                            <td>Dec 12, 2016</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td>Dec 19, 2016</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>AngularJS 4 Fundamentals</td>
                                            <td>Dec 12, 2016</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td>Dec 21, 2016</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Simple Node Server</td>
                                            <td>Dec 30, 2016</td>
                                            <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                            <td>Pending</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p>Copyright &copy; Hello-Books 2017</p>
        </footer>

        <!-- JavaScript plugins -->
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>
