<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Welcome to HelloBooks</title>

        <!-- Bootstrap -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom css -->
        <link href="assets/css/style.css" rel="stylesheet">
        <!-- Font-Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <!-- live reload -->
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Hello Books</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">

                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1><i class="fa fa-book" aria-hidden="true"></i> Hello Books <small>Library Of eBooks</small></h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="row">
                    <div class="jumbotron">
                        <h1>Library Of Ebooks!</h1>
                        <p>Hello-Books is a simple application that helps manage a library and its processes like stocking, tracking and renting books. No longer will you have to wonder who took a particular item or where your company's valuable assets are located.</p>
                        <p>A check-in/check-out solution allows you to record the time items were borrowed, returned and who took them. Tool tracking, file management, library and rental applications can all take advantage of the process flow and improved accountability inherent in a check-in/check-out solution. </p>
                        <p><a class="btn btn-default btn-lg main-color-bg" href="login.html">Login to HelloBooks</a> <a class="btn btn-primary btn-lg" href="signup.html" role="button">Signup for HelloBooks</a>
                        </p>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p>Copyright &copy; Hello-Books 2017</p>
        </footer>

        <!-- JavaScript plugins -->
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>
