<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>HelloBooks | Signup</title>

        <!-- Bootstrap -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom css -->
        <link href="assets/css/style.css" rel="stylesheet">
        <!-- Font-Awesome -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!-- live reload -->
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Hello Books</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">

                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1><i class="fa fa-book" aria-hidden="true"></i> Hello Books <small>Create new account</small></h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="col-md-6 col-md-offset-3" id="signup">

                    <div class="well">
                        <div class="page-header">
                            <h1>Sign Up</h1>
                        </div>
                        <form class="" action="library.html">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" class="form-control" id="firstname" placeholder="Enter first name">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Enter last name">
                            </div>
                            <div class="form-group">
                                <label for="username">Choose Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter password">
                            </div>
                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Re-type password">
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up for HelloBooks</button>
                        </form>

                        <p>Already have an account? <a href="login.html">Login</a></p>

                        <a id="google-plus" href="#" class="btn btn-lg btn-block btn-default"><i class="pull-left fa fa-google-plus fa-lg" aria-hidden="true"></i> Signup with Google+ Account</a href="#">
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p>Copyright &copy; Hello-Books 2017</p>
        </footer>

        <!-- JavaScript plugins -->
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>
